body {
    font-size: 20px;
}

button {
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 10px 20px;
}

#canvas {
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
}

select {
    font-size: 20px;
    padding: 10px 20px;
}

.init {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.display {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px 10px;
    /* background-color: red; */

}

.buttonList {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}
#keyboardSetting {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 90%;
    align-items: center;
}
#outputHost {
    display: block;
    width: 200px;
    height: 360px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 0px 10px 0px 10px;
    align-items: center;
}
#outputClient {
    display: block;
    width: 200px;
    height: 360px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 0px 10px 0px 10px;
    align-items: center;
}

input {
    height: 20px;
    text-align: center;
    align-items: center;
}

button {
    font-size: 12px;
    color: black;
    background-color: lightgray;
    /* padding: 10px 20px; */
    height: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px 10px 0px 10px;
    margin: 10px 10px 10px 10px;
}

select {
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    height: 25px;
}

p {
    margin-right: 10px;
}

h3 {
    display: flex;
    flex: 1;
    justify-content: right;
    margin-right: 50px;
}
